@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #37506c;
  font-family: "Poppins", sans-serif;
}

#awesome-students {
  padding: 50px 10% 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

#headline {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
}

h1#headline {
  bottom: 0;
  right: 0;
  left: 0;
  margin: 10px 10%;
  padding: 10px;
  height: 30px;
}

#score {
  width: 100%;
  background-color: #262b35;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 40px;
  min-width: 200px;
}

.refresh {
  font-size: 23px;
  color: #fff;
  margin-bottom: 20px;
  width: 80%;
}

li {
  padding: 10px;
  list-style-type: none;
}

li:nth-child(2n + 1) {
  background-color: #bebebe;
}

input#refresh-score {
  float: right;
  color: #fff;
  transition: 300ms;
  border: 3px solid;
  border-radius: 5px;
  box-shadow: 4px 4px 0 1px black;
  background-color: #37506c;
  align-self: end;
  padding: 5px 10px;
}

input#refresh-score:hover {
  transform: scale(1.05);
}

.student {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.student:nth-child(2n + 1) {
  background-color: #ddd;
}

.student-title,
.student-author,
.remove-button {
  margin: 8px;
}

.student-author,
.student-title {
  font-size: 1.2rem;
  font-weight: normal;
}

#students-list {
  padding: 8px 0;
  background-color: #37506c;
  border: 3px solid #000;
  border-radius: 5px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;
}

.inner-text {
  margin: auto;
  color: #fff;
  font-weight: 900;
}

.student-store {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

#add-student-form {
  background-color: #262b35;
  padding: 50px;
  min-width: 280px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#add-student-form h2 {
  font-size: 23px;
  color: #fff;
}

#input-form {
  min-height: 200px;
}

.empty-scoreboard {
  margin: auto;
}

#input-form input[type="text"] {
  width: auto;
  padding: 5px;
  border: 3px solid;
  border-radius: 3px;
}

#input-form input[type="number"] {
  width: auto;
  padding: 5px;
  border: 3px solid;
  border-radius: 3px;
}

#input-form input[type="submit"] {
  color: #fff;
  transition: 300ms;
  border: 3px solid;
  border-radius: 3px;
  box-shadow: 4px 4px 0 1px black;
  background-color: #37506c;
  align-self: end;
  padding: 5px 10px;
}

#input-form input[type="submit"]:hover {
  transform: scale(1.05);
}
