* {
  margin: 0;
  padding: 0;
}

#awesome-students {
  display: flex;
  justify-content: center;
  margin: 0 10%;
  gap: 20px;
  align-content: center;
  align-items: center;
  height: 80vh;
  min-height: 200px;
}

#headline {
  margin: 30px;
  display: flex;
  font-size: 30px;
}

h1#headline {
  bottom: 0;
  right: 0;
  left: 0;
  margin: 10px 10%;
  padding: 10px;
  height: 30px;
}

#score {
  width: 100%;
}

.refresh {
  font-size: 23px;
  margin-bottom: 20px;
  width: 80%;
}

li {
  padding: 10px;
  list-style-type: none;
}

li:nth-child(2n + 1) {
  background-color: #bebebe;
}

input#refresh-score {
  float: right;
  transition: 300ms;
  border: 3px solid;
  border-radius: 3px;
  box-shadow: 4px 4px 0 1px black;
  background-color: whitesmoke;
  align-self: end;
  padding: 5px 10px;
}

input#refresh-score:hover {
  transform: scale(1.05);
}

.student {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.student:nth-child(2n + 1) {
  background-color: #ddd;
}

.student-title,
.student-author,
.remove-button {
  margin: 8px;
}

.student-author,
.student-title {
  font-size: 1.2rem;
  font-weight: normal;
}

/* .student-title:hover {
  animation-name: titleShake;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
} */

#students-list {
  width: 80%;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  border: 3px solid;
  border-radius: 5px;
  max-height: 50vh;
  overflow-y: scroll;
}

.inner-text {
  margin: auto;
}

.student-store {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

#add-student-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

#add-student-form h2 {
  font-size: 23px;
}

#input-form {
  min-height: 200px;
}

.empty-scoreboard {
  margin: auto;
}

#input-form input[type="text"] {
  width: auto;
  padding: 5px;
  border: 3px solid;
  border-radius: 3px;
}

#input-form input[type="number"] {
  width: auto;
  padding: 5px;
  border: 3px solid;
  border-radius: 3px;
}

#input-form input[type="submit"] {
  transition: 300ms;
  border: 3px solid;
  border-radius: 3px;
  box-shadow: 4px 4px 0 1px black;
  background-color: whitesmoke;
  align-self: end;
  padding: 5px 10px;
}

#input-form input[type="submit"]:hover {
  transform: scale(1.05);
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  border: 3px solid;
  margin: 10px 10%;
  padding: 10px;
  height: 30px;
}
